@charset "utf-8";
/**初始化**/
article,aside,audio,body,dd,div,dl,footer,form,h1,h2,h3,h4,h5,h6,header,iframe,input,label,menu,nav,ol,p,section,select,td,textarea,th,time,ul,video{margin:0;padding:0}article,aside,audio,canvas,footer,header,nav,section,video{display:block}input::-webkit-search-cancel-button{display:none}form{display:inline}input{font-family:"微软雅黑",Helvetica,STHeiti,Droid Sans Fallback}body{line-height:130%;font-size:15px;font-family:"微软雅黑",Helvetica,STHeiti,Droid Sans Fallback;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;color:#333;word-wrap:break-word;background:#efefef}textarea{resize:none;-webkit-appearance:none}iframe,img{border:0}ol,ul{list-style:none}h1,h2,h3,h4,h5,h6{font-weight:400;font-size:16px}input,label,select,textarea{outline:0;-webkit-user-modify:read-write-plaintext-only;-webkit-tap-highlight-color:transparent}label{-webkit-user-modify:read-only}input{-webkit-appearance:none;border:none;background:0 0}a{text-decoration:none;color:#333}em,i{font-style:normal}b{font-weight:400}select{-webkit-appearance:none;-webkit-border-radius:0;border-radius:0;-webkit-border-image:none;-webkit-box-shadow:none;box-shadow:none}strong{font-style:normal;font-weight:400}.fl{float:left}.fr{float:right}

/*简化的常用样式*/
.fn15{font-size:15px!important}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mt10{margin-top:10px!important}
.ml10{margin-left:10px}
.h10{overflow:hidden;height:10px;clear:both}
.h5{overflow:hidden;height:5px;clear:both}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mb10{margin-bottom:10px!important}
.mb20{margin-bottom:20px!important}
.h10_bg{overflow:hidden;height:10px;clear:both;background:#eee;border-top:1px solid #dbdbdb}
.nobor{border:none!important}
.nobt{border-bottom:none!important}
.notp{border-top:none!important}
.nom{margin:0!important}
.inline{display:inline!important}
.borb{border-bottom:1px solid #dbdbdb!important}
.bort{border-top:1px solid #dbdbdb!important}
.tr{text-align:right}
.flex{display:flex}
.tl{text-align:left!important}
.tc{text-align:center}
.pl{padding-left:20px}
.db{display:block!important}
.mh50{min-height:50px!important}
.wd50p{width:50%!important}
.wd33p{width:33.33%!important}
.wd25p{width:25%!important}
.wd20p{width:20%!important}
.pt10{padding-top:10px!important}
.graybg{background-color:#d2d2d2!important}
.nobg{background:0 0!important}
.but{background:#f90;color:#fff;width:90px;height:30px;font-size:14px;border-radius:3px;cursor:pointer}
.Abut{display:inline-block;line-height:30px;text-align:center}
.clf90{color:#f90}
.clf60{color:#f60}

/***图标背景图***/
.adbanner a,.btn_back,.btn_gz span,.btn_more span,.btn_set,.header .btn_address,.icon_peoplenum,.pl_num,.search input[type=submit]{background:url(../images/icon_bg.png) no-repeat;background-size:20px 349px}

/*main*/
.main{overflow:hidden;margin:0 auto;box-shadow:0 0 6px #ccc;position:relative;background:#fff;max-width:800px}

/******************Header**********************/
.header_static{height:45px;overflow:hidden}
.header{position:fixed;max-width:800px;width:100%;z-index:9999;background:#fff}
.header2{background:#ff7762!important;color:#fff}
.header_top{height:44px;line-height:44px;border-bottom:1px solid #ccc;text-align:center;opacity:.9;filter:alpha(opacity:90);font-size:18px}
.header_top h2{font-size:18px}
.header .btn_back{display:inline-block;width:35px;height:45px;position:absolute;top:0;left:0;background-position:10px -152px}
.header2 .btn_back{background:url(../images/icon_back2.png) no-repeat center!important;background-size:9px 15px!important}
.btn_logo{position:absolute;top:14px;left:10px;display:inline-block;background:url(../images/logo_quanzi.png) no-repeat center;width:105px;height:17px;background-size:105px 17px}
.header .btn_address{float:left;display:inline-block;font-size:17px;margin-left:35px;padding-right:10px;background-position:34px -84px}
.header_right{position:absolute;top:0;right:0}
.header_right input{border:0;font-size:16px;color:#f60;background:#fff;padding:10px}
.header_right img{margin-top:8px}
.header_right a{float:left;margin-left:8px}
.header_right_tx,.header_right_tx_no{position:relative}
.header_right_tx_no{margin-right:10px}
.header_right_tx img{border:1px solid #f60;border-radius:100px;margin-right:10px}
.header_right_tx span{position:absolute;top:6px;right:4px;display:inline-block;width:18px;height:18px;background:#ff2a2a;border-radius:100px;color:#fff;font-size:10px;line-height:18px;text-align:center}
.header_right_tx span.plus{top:3px;right:0;width:23px;height:23px;line-height:23px}
.btn_set{display:inline-block;width:40px;height:45px;margin:0;background-position:18px -197px}
.mod_tieset_fade{position:absolute;top:48px;right:6px;background:#fff;border:1px solid #b0b0b0;text-align:center;border-radius:2px;width:114px;padding:0 10px;display:none;-webkit-transition-property:-webkit-transform,opacity;-webkit-transition-timing-function:ease-in-out;-webkit-transition-duration:150ms;-webkit-backface-visibility:hidden}
.bg_triangle{background:url(../images/bg_san.png) no-repeat;display:inline-block;width:12px;height:7px;position:absolute;right:10px;top:-7px;background-size:12px 7px}
.mod_tieset_fade li a{color:#333;font-size:15px;display:block;height:40px;line-height:40px;border-bottom:1px solid #ececec}

/******************广告栏**********************/
.adbanner{overflow:hidden;background:#fff2e0}
.adbanner a{display:block;height:26px;line-height:26px;padding-left:10px;color:#7b5640;font-size:13px;position:relative;margin-right:10px;background-position:right -287px}

/*页面底部垂直导航条*/
.lnk_item li{height:38px;line-height:38px;font-size:14px;border-bottom:1px solid #d3d3d3;padding:0 10px}
.lnk_item li:last-child{border-bottom:none}
.lnk_item a.list_itemr{background:url(../images/list_r.png) no-repeat right center;-webkit-background-size:8px 15px;background-size:8px 15px;display:block}

/**分页**/
.pagenum{height:30px;line-height:30px;padding:10px 0 10px 10px;border-bottom:1px solid #ddd}
.pagenum_left a{float:left;background:url(../images/icon_page_left.png) no-repeat 7px center;background-size:6px 12px;display:inline-block;padding-left:8px;width:58px;height:26px;line-height:26px;text-align:center;color:#222!important;font-size:13px;border:1px solid #a4a4a4}
.pagenum_left .n_page{background:url(../images/icon_page_right.png) no-repeat 56px center;background-size:6px 12px;padding:0 10px 0 0}
.pagenum_left span{margin:0 5px;float:left}
.pagenum_left span i{color:#f60}
.pagenum_right{float:right}
.pagenum_right .num{text-align:center;width:44px;height:9px;padding:8px 0;border:1px solid #999;margin-right:9px;border-radius:0}
.pagenum_right .pagego{margin-top:7px;background:0 0;cursor:pointer;color:#999;display:inline-block;margin-right:8px}

/******************底部水平导航条********************/
.conmm_bottom{padding:0 10px 0 5px;overflow:hidden;border-bottom:0 solid #dbdbdb;border-top:1px solid #dbdbdb;background:#f3f2f2}
.conmm_bottom li{float:left}
.conmm_bottom li a{height:36px;line-height:36px;display:block;background:url(../images/bottom_dayu.png) no-repeat right center;background-size:13px 36px;padding:0 18px 0 5px;color:#313131;font-size:14px}
.conmm_bottom li .current{color:#9c9c9c}
.fix{position:fixed;width:100%;max-width:800px;background:#fff;z-index:99;top:44px;border-bottom:1px solid #dbdbdb}
.h37{height:37px;overflow:hidden}
.footer_navs{padding-top:10px;background:#f60}
.foor_nav{height:30px;line-height:30px}
.foor_nav a{color:#fff;width:20%;float:left;display:inline-block;text-align:center}
.foor{padding:10px 0 15px 0;overflow:hidden;background:#f60}
.foor p{color:#ffb280;font-size:12px;text-align:center}
.foor .foor_a a{color:#ffe3bf;margin:0 3px;margin-bottom:5px}
.foor .foor_a_change{margin-bottom:10px}
.foor_a_change a{color:#fff}

/**遮盖层**/
.mod_cover{position:absolute;height:100%;width:100%;background:rgba(0,0,0,.15);top:0;left:0;display:none;filter:alpha(opacity:20);z-index:9}

/**返回顶部按钮**/
.back_top {position: absolute;width: 30px;height: 30px;background: url(../images/phonetribe_icon_top.png) no-repeat center;-webkit-background-size: 30px 30px;background-size: 26px 25px;right: 10px;bottom: 20px;}

/**主导航**/
.nav{ overflow: hidden; }
.nav a{ float: left; display: block;height:38px; line-height:38px; width: 25%;text-align: center; font-size: 15px;border-bottom: 2px solid #eee;}
.nav a.cur { border-bottom-color: #ff6600;color:#ff6600; }

/**搜索框**/
.mod_search{padding: 10px  8px; background:#eee; border-top: 1px solid #dbdbdb;border-bottom: 1px solid  #dbdbdb}
.mod_search .search{ padding: 0 45px 0 20px; height: 37px; position:relative; border: 1px solid #d3d3d3; border-radius: 100px; background: #fff}
.mod_search .search input[type="text"]{ width: 100%;font-size: 15px; padding: 9px 0; background: none}
.mod_search .search input[type="submit"]{ width: 45px; height: 37px; background-position: 10px -320px; position: absolute;top: 0;right: 0;}
.mod_search .sel span { display:inline-block; border-right:1px #d3d3d3 solid; padding-right:5px; margin-right:10px; }
.mod_search .sel span img { margin-left:10px;}
.mod_search .sel input[type="text"] { width:60%; }
.mod_search .sel .mem_kuang {display:none; width:55px; background-color:#fff; border: 1px solid #dbdbdb;position:absolute; font-size:15px; color:#333333; top:43px; left:8px; padding:0px 15px 0px 15px;}
.mod_search .sel .mem_kuang a { display:block; padding:12px 0; text-align:center; border-bottom:1px #ececec solid;}
.mod_search .sel .mem_choose { color:#ff6600;}
.mod_search .sel .mem_kuang .bg_triangle{ right:21px; border:none;}

/**标题**/
.mod_title,.mod_title2 {padding: 0 10px; height: 35px; line-height: 35px; border-top: 2px solid #ff6600; border-bottom: 1px solid #d3d3d3;font-size: 15px;}
.mod_title a{ color: #666; margin-right: 10px;}
.mod_title2 span{display: inline-block; margin-right: 5px; position: relative;top: 2px;}
.mod_title2 a{ float: right; font-size:14px; color: #999}

/**居中提示框**/
.mod_main {text-align: center;padding: 10px;margin: 10px;}
.mod_main p.tip {color:Red;}
.mod_wrap {padding: 10px;}
.mod_wrap a {color:#ff6600;}
.msg_top {padding: 10px;border-top: 1px solid #ddd;clear: both;}
.msg_top a,.msg_top input{font-size: 16px;}
.msg_bom {padding: 10px;border-bottom: 1px solid #ddd;clear: both;}

/**长条更多按钮**/
.btn_more{ display:block; height:36px; line-height:36px; text-align: center; margin: 0 10px; border: 1px solid #d3d3d3; background: #f6f6f6; font-size: 15px; color: #666}
.btn_more span{ padding-right:9px; background-position:right -127px;}

/**顶部管理菜单图标**/
.icon_cjlq,.icon_help,.icon_jqsz,.icon_jzpm,.icon_lqbz,.icon_qzgl,.icon_qzlb,.icon_szdz,.icon_tcbq{display:inline-block;margin-right:5px;background:url(../images/icon_img.png) no-repeat;background-size:20px 311px;position:relative;top:4px}
.icon_qzgl{ width:19px; height:18px; background-position: 0px -125px;}
.icon_szdz{ width:14px; height:19px; background-position: 0px -249px;}
.icon_jqsz{ width: 18px; height: 18px; background-position: 0px 0px;}
.icon_jzpm{ width: 17px; height: 15px; background-position: 0px -86px;}
.icon_qzlb{ width: 14px; height: 11px; background-position: 0px -168px;}
.icon_lqbz{ width: 18px; height: 18px; background-position: 0px -43px;}
.icon_tcbq{ width: 18px; height: 18px; background-position: 0px -293px;}
.icon_cjlq{ width: 19px; height: 18px; background-position: 0px 0px;top: 4px;}
.icon_jiaru{ background: url(../images/icon_jiaru.png) no-repeat center; background-size:19px 18px;}
.icon_help{ width: 19px; height: 18px; background-position: 0px -43px;}

/**表单**/
.alm_ed_fm{padding:10px}
.alm_ed_fm input[type=password],.alm_ed_fm input[type=text]{border:1px solid #ccc;padding:4px;margin:5px 0;width:165px;border-radius:3px;line-height:14px}
.alm_ed_fm i{color:#f90}
.qd_welcome{border-bottom:1px dotted #ccc;padding:3px 0;line-height:18px}
.qd_welcome h3{font-weight:700}
.qd_welcome p{text-indent:1em}
.btn_org{border:1px solid #f90;border-radius:4px;color:#f90;display:block;font-size:12px;line-height:12px;padding:5px;cursor:pointer;background:0 0}

/**首页头部样式**/
.lqH { position:fixed; left:0; top:0; width:100%; z-index:99999;background: #fff;}
@media screen and (min-width:800px){.lqH {left:50%; margin-left:-400px; max-width:800px;}} 
.tt50 { margin-top:45px;}