

.news_link{ overflow:hidden; margin:0 12px; border-bottom:1px solid #e0e0e0; padding:0 0 7px;}
.news_link li{ line-height:35px; overflow:hidden;}
.news_link li p{ display:inline-block;text-overflow: ellipsis; white-space: nowrap; overflow:hidden; width:70%; vertical-align:middle;}
.num{ float:right; color:#aaa; font-size:11px;}
.num .eye{ display:inline-block; width:15px; height:11px; background:url(http://sjgscdn.lexun.com/home/images/icon_eye.png) no-repeat; background-size: 15px 10px; padding-left:3px; position:relative; top:1px;}

.news_title{ overflow:hidden; line-height:33px; position:relative; margin:0 12px; font-size:13px; border-bottom:1px solid #eee;}
.news_title span{ position:absolute; top:7px; right:0px; margin:0;}
.news_title a{ font-size:13px;}
.news_title .fr{ font-size:12px; color:#999;}
.news_title1{ overflow:hidden; line-height:33px; position:relative; margin:0 12px; font-size:13px;}
.news_title1 span{ position:absolute; top:7px; right:0px; margin:0;}
.news_title1 a{ font-size:13px;}
.news_title1 .fr{ font-size:12px; color:#999;}

.news_more{ text-align:center; line-height:35px;}
.news_more a{ font-size:14px; font-size:14px; color:#666; }

.news_exclusive{ padding:0 12px 5px; overflow:hidden; position:relative; border-bottom:1px solid #e0e0e0;}
.news_exclusive h4{ padding-top:5px; line-height:30px; font-size:17px; color:#333;text-overflow: ellipsis; white-space: nowrap; overflow:hidden;}
.news_exclusive p{ font-size:14px; color:#999;}
.news_exclusive i span{ position:absolute; top:15px; right:12px; margin:0;}
.exclusive_tu{ position:relative; padding-bottom:23px; min-height:14px; margin-bottom:10px;}
.exclusive_tu .adimg{ width:100%; display:block;}
.news_lz{ overflow: hidden; position:absolute; bottom:0; left:4px; width:100%;}
.news_lz .photo{ float:left; border:1px solid #fff; border-radius:100%; width:35px; height:35px;}
.news_lz .photo img{ border-radius:100%;}
.news_lz .name{ font-size:12px; color:#666; margin-top:17px;}
.news_p i{ font-size:13px; color:#bbb;}
.num{ float:right; color:#aaa; font-size:11px;}
.num .eye{ display:inline-block; width:15px; height:11px; background:url(http://sjgscdn.lexun.com/home/images/icon_eye.png) no-repeat; background-size: 15px 10px; padding-left:3px; position:relative; top:1px;}

.news_exclusive{ padding:0 12px 5px; overflow:hidden; position:relative; border-bottom:1px solid #e0e0e0;}
.news_exclusive h4{ padding-top:5px; line-height:30px; font-size:17px; color:#333;text-overflow: ellipsis; white-space: nowrap; overflow:hidden;}
.news_exclusive p{ font-size:14px; color:#999;}
.news_exclusive i span{ position:absolute; top:15px; right:12px; margin:0;}
.exclusive_tu{ position:relative; padding-bottom:23px; min-height:14px; margin-bottom:10px;}
.exclusive_tu .adimg{ width:100%; display:block;}
.news_lz{ overflow: hidden; position:absolute; bottom:0; left:4px; width:100%;}
.news_lz .photo{ float:left; border:1px solid #fff; border-radius:100%; width:35px; height:35px;}
.news_lz .photo img{ border-radius:100%;}
.news_lz .name{ font-size:12px; color:#666; margin-top:17px;}
.news_p i{ font-size:13px; color:#bbb;}
.numrly{ float:right; color:#aaa; font-size:11px; background-color: #e6d8d8;
    border-radius: 3px;
    padding: 2px;
    color: #888 !important;}
.num .rly{ display:inline-block; width:15px; height:11px; background:url(http://sjgscdn.lexun.com/home/images/icon_rly.png) no-repeat; background-size: 15px 10px; padding-left:3px; position:relative; top:1px;}