/*通用*/
.mt10{margin-top:10px}
.mtr10{margin-right:10px}
.app_input{background:#eee;font-size:13px;color:#333;padding:10px}
.flex{display:box;display:flex;display:-webkit-box}
.app_input p{overflow:hidden;padding-bottom:15px}
.app_input .flex span{font-size:15px;color:#333;position:relative;display:block;min-width:75px;line-height:36px;height:36px}
.app_input .txt{-webkit-box-flex:1;box-flex:1;flex:1;display:block;border:1px solid #ccc;font-size:15px;padding:6px 8px;background-color:#fff}
.app_input .orange{text-decoration:underline}
.orange{color:#f70!important}
.btnboxs{padding:10px 10px 0;overflow:hidden;text-align:center;background:#eee}
.app_input .btnboxs{padding:55px 0 0}
.btnboxs .white{background:#fff;color:#333;border:1px solid #d3d3d3}
.btnboxs a,.btnboxs input{display:block;height:36px;line-height:36px;background:#f70;color:#fff;font-size:14px;border-radius:3px;width:100%;border:none;cursor:pointer;margin-bottom:18px;border:1px solid #f70}
.btnboxs a{height:34px;line-height:34px}
.new-built{text-align:center;background:#fff;font-size:12px;color:#999;padding:25px 0 0}
.new-built h3{line-height:43px;font-size:15px;font-weight:300;color:#333}
.new-built h3 img{display:inline-block;vertical-align:middle;margin-right:12px}
.new-built p{margin:20px 0 32px}
.new-built .btnboxs{min-height:323px;border-top:1px solid #ddd;padding:20px 27px 0}
.btnboxs .btn-l,.btnboxs .btn-r{display:inline-block}
.btnboxs .btn-l{border:1px solid #d3d3d3;background:#fff;color:#333;float:left}
.btnboxs .btn-r{background:#f70;border:1px solid #f70;float:right}

/*导航*/
.nav2{ line-height:42px; height:44px; overflow:hidden;}
.nav2 li{ float:left; width:33.33%;text-align:center;}
.nav2 a{ display: inline-block;}
.nav2 .current a{ color:#ff7762; border-bottom:2px solid #ff7762;line-height: 41px;}

/*dSmallPicBox*/
.dSmallPicBox{position:relative;overflow:hidden}
.dSmallPicBox::-webkit-scrollbar{display:none}
.dSmallPicBox .down_btn{display:inline-block;position:absolute;right:0;top:0;height:84px;width:40px;background:url(../images/xiangxia_icon.png) no-repeat center 30px;background-size:11px 7px}
.dSmallPicBox .up_btn{background:url(../images/xiangshang_icon.png) no-repeat center 30px;background-size:11px 7px}
.sRightBtnB{display:inline-block;width:10px;height:17px;background:url(../images/icon_r.png) no-repeat;background-size:10px 17px;position:absolute;top:27px;right:10px;cursor:pointer}
.ulSmallPic{text-align:center;height:84px}
.ulSmallPic img{margin:0 auto 5px}
.ulSmallPic li{float:left;width:85px;padding:12px 0 10px}
.ulSmallPic h4{font-size:11px;color:#666}
@media screen and (min-width:480px){.dSmallPicBox{width:800px;text-align:right}
}

/*swiper切换图片*/
.swiper-container{margin:0 auto;position:relative;overflow:hidden;z-index:1;background-color:#fff}.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-fles-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative}.swiper-slide p{background:url(../images/slide_bg.png) repeat-x;background-size:1px 25px;font-size:13px;color:#fff;line-height:25px;height:25px;text-indent:10px;position:absolute;left:0;bottom:0;width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-container img{width:100%;vertical-align:top;max-height:300px}.swiper-container-wap-index .swiper-slide{float:left;width:100%}.swiper-container-wap-index .swiper-pagination{position:absolute;right:10px;bottom:10px;z-index:10;height:8px;line-height:8px}.swiper-container-wap-index .swiper-pagination-bullet{display:inline-block;margin:0 0 0 8px;box-sizing:border-box;width:8px;height:8px;border-radius:8px;background:rgba(225,225,225,.5)}.swiper-container-wap-index .swiper-pagination-bullet-active{background:#ff6e19}.swiper-container-wap-index .swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}

/*搜索*/
.home_search{background:#eee;padding:10px}
.home_search .item{background:#fff;position:relative;height:32px;border:1px solid #e3e3e3;overflow:hidden}
.home_search .item input[type=text]{font-size:14px;width:100%;display:block;padding:8px 5px 8px 10px;border:none;box-sizing:border-box}
.home_search .item input[type=submit]{position:absolute;top:0;right:0;width:51px;height:34px;z-index:9;background:#f9f9f9 url(../images/icon_search.png) no-repeat center;background-size:16px;border-left:1px #dcdcdc solid;cursor:pointer}
.home_search .item input[type=text]{padding:0 0 0 95px;height:32px;line-height:32px}
.home_search2 .item input[type=text]{padding:0 0 0 10px;height:32px;line-height:32px}
.home_search select{position:absolute;top:0;left:0;border:0;border-right:1px solid #e3e3e3;height:32px;width:80px;background:#fff url(../images/icon_down.png) no-repeat 62px center;background-size:9px 6px;font-size:13px;padding-left:10px}

/*标题*/
.title { height:44px; line-height:44px; padding:0 10px; font-size:16px; color:#333;  overflow:hidden;}
.title span{ display:inline-block; height:15px; width:3px; background:#ff7700; margin-right:5px; vertical-align:-3px;}
.title img { display:inline-block; margin-right:8px; vertical-align:middle; margin-top:-3px;}
.title_new{ font-size:12px; display:inline-block; float:right; color:#888;}
.title_new:before{ content:""; display:inline-block; background:url(../images/icon_refresh.png) no-repeat; background-size:16px; width:16px; height:16px; margin-right:5px; vertical-align:-4px;}
.titles .fr{ font-size:13px; color:#666;}
.t2_s { color:#003333 !important; font-size:17px;}
.t2_ss { font-size:17px; color:#333 !important;}
.line2 { height:1px; margin-left:10px; background:#eeeeee;}
.line3 { height:1px; background:#d1cecd;} 
.line4 { height:7px; background:#eeeeee;}
.line5 { height:1px; background:#e5e5e5; margin-left:10px;}
.line6 { height:1px; background:#f2f2f2; margin-left:10px;}

/*分类*/
.classify li{ padding:10px; overflow:hidden; border-bottom:1px solid #f2f1f0;}
.classify li a,.list a,.circle_link li a,.link li a{ background:url(../images/icon_link.png) no-repeat center right; display:block; background-size:8px 13px;}
.classify img,.emotion_list img{ float:left; display:block; margin-right:10px;}
.classify h4,.emotion_list h4{ line-height: 20px;}
.classify p,.emotion_list p{ font-size:12px; color:#666;line-height: 20px;}
.classify span,.emotion_list .txt{ color:#666;}

/*情感天地*/
.emotion_list li { padding:10px 10px 10px 0; margin-left:10px; overflow:hidden; border-bottom:1px solid #f2f1f0;position:relative;}
.emotion_list_spe li { padding:10px !important; margin-left:0 !important; }
.emotion_list img{border-radius: 10px;}
.emotion_list span{ margin-right:10px;}
.emotion_list em{ margin-left:5px;}
.emotion_list .txt{text-overflow: ellipsis;white-space: nowrap; overflow:hidden; padding-right:52px;}
.emotion_list .goforum,.hot_list .goforum{ font-size:12px; color:#fa7b32; border:1px #ffd3b9 solid;border-radius:3px; padding:6px 8px; position:absolute; top:25px; right:10px; }
.emotion_spe_color { color:#ff7762 !important; border:1px #ffc0b6 solid !important;}

/*更多*/
.more{ padding:7px; border:1px solid #d9dada; font-size:14px; color:#666; display:block; text-align:center; margin:10px 10px; border-radius:3px;}
.more_mar { margin:2px 10px 12px 10px !important;}
.more_mar17 { margin:17px 10px;}
.more img{ display:inline-block; margin:0 5px; vertical-align:middle; margin-top:-2px;}

/*list_hot*/
.list_hot{ overflow:hidden; text-align:center; padding:10px 0 0 10px;}
.list_hot li{ float:left; width:25%; line-height:44px;}
.list_hot li a{ font-size:14px; display:block; border-top:1px #f2f1f0 solid; border-left:1px #f2f1f0 solid; border-right:1px #f2f1f0 solid; border-bottom:2px #ebebeb solid; margin-right:10px; margin-bottom:10px;}
/*activity*/
.activity{ overflow:hidden; padding:10px;}
.activity img{ float:left; margin-right:10px;}
.activity h4{ font-size:14px; margin-bottom:2px;text-overflow: ellipsis;white-space: nowrap; overflow:hidden;}
.activity p,.activity p a{ font-size:12px; color:#999; line-height:18px;}
/*activity_link*/
.activity_link li{ line-height:44px; font-size:15px; padding:0 65px 0 10px; position:relative; border-bottom:1px solid #f2f1f0;text-overflow: ellipsis;white-space: nowrap; overflow:hidden;}
.activity_link span{ cursor:pointer; position:absolute; top:14px; right:10px; color:#fff; line-height:10px; display:inline-block; font-size:10px; padding:4px 5px; min-width:40px; text-align:center;}
.activity_link .new{ background:#57b869;}
.activity_link .go{ background:#fe6b6b;}
.activity_link .end{ background:#c3c1c1;}
/*service_list*/
.service_list{ overflow:hidden; text-align:center;}
.service_list img{ display:inline-block; vertical-align:middle; margin-right:3px;}
.service_list li{ float:left; width:33.33%; line-height:42px;}
/*service_num*/
.service_num{ padding:10px; }
.service_num img{ display:inline-block; vertical-align:middle; margin-right:3px;}
.service_num p,.service_num p a{font-size:12px; color:#666;}
.service_num p{line-height: 20px;}
/*个人乐圈*/
.circle,.circles{ background:url(../images/icon_bg.jpg) no-repeat; background-size:100%; padding:30px 0 24px;}
.circle h4{ color:#7d7d7d; font-size:12px; padding-left:42px; text-align: center;}
.circle p{ padding-top:16px; text-align:center;}
.circle p a{ height:35px; line-height:35px; padding:0 23px; box-shadow:0px 2px 5px #bfd7cf; color:#ff7762; background:#fdf9f7; font-size:15px; display:inline-block;  border-radius:5px;}
/*circles*/
.circles { padding:23px 0 22px 22px;}
.circles a{ color:#5d5d5d; font-size:16px;}
.circles .item{ overflow:hidden; color:#fff;} 
.circles .item img{ display:inline-block;}
.circles .item .photo{ float:left; margin:5px 10px 0 0 ;}
.circles .item h3{ font-size:17px;}
.circles .item h3 span{ font-size:14px; color: #828282;}
.circles .item p{ font-size:13px; margin:6px 0 0 60px; color:#717171;}
.circles .item p span{  font-size:14px; color:#357cb2;}
.pad68 { padding-left:68px;}
/*circle_nav*/
.circle_nav{display: box; display: flex; display: -webkit-box; text-align:center; padding:14px 0;}
.circle_nav a{-webkit-box-flex: 1;box-flex: 1;flex: 1; display:block; box-sizing:border-box; border-right:1px solid #f0eeed; font-size:13px; line-height:13px; }
.circle_nav a:last-child{ border-right:0;}
/*interest_list*/
.interest_list,.list_circles{ margin:0 10px;overflow: hidden;padding-bottom: 10px;}
.interest_list a,.list_circles a{ display: block; width: 22.75%;overflow: hidden;font-size: 14px;margin: 14px 3% 0 0;float: left;text-align: center;border:1px solid #f2f1f0;height: 35px;line-height: 35px;box-sizing:border-box;}
.interest_list .current{ background:#ff6e19; border:1px solid #ff6e19; color:#fff;}
.interest_list a:nth-child(4n) {margin-right: 0;}
/*list_circles*/
.list_circles a{width:31.33%; background:#f4f4f4; border:1px solid #f4f4f4;}
.list_circles a:nth-child(3n) {margin-right: 0;}
/*circle_link*/
.circle_link{ background:#fff; }
.circle_link li{ line-height:44px; padding:0 10px; }
.circle_link li a{ font-size:15px; color:#333; }
.circle_link li a img { display:inline-block; vertical-align:middle; margin-top:-3px; margin-right:6px;}
/*bottom_link*/
.bottom_link { background:#f8f8f8; padding:7px 0; overflow:hidden; border-top:2px solid #eee;}
.bottom_link li { float:left; width:20%; text-align:center; padding:5px 0;}
.bottom_link li a { font-size:16px;}
.pink{ background:#ff7762 !important;}

/*推荐*/
.recommend{ padding:10px; overflow:hidden;}
.recommend .photo{ float:left; position:relative; margin-right:10px;}
.recommend .photo img{ display:block;}
.recommend .photo .act{ display:block; background:url(../images/icon_act.png) no-repeat; background-size:35px; width:35px; height:35px; position:absolute; top:0; left:0;}
.recommend .photo .foc{ background:url(../images/icon_actfoc.png) no-repeat; background-size:35px; }
.recommend h4{ font-size:15px;}
.recommend p{ font-size:12px; color:#808080; line-height:20px;}
.recommend_btn{ overflow:hidden; padding:0 10px 10px; position:relative; height: 30px;}
.recommend_btn a,.recommend_btn .but{ float: left; width:92px; height:28px; line-height:28px; border:1px solid #ddd; background:#fbfbfb; display:inline-block; border-radius:3px; text-align:center; color:#666; font-size:15px; margin-right:10px;}
.recommend_btn .but{height: 30px;}
.recommend_btn a:last-child{ margin-right:0;}
.recommend_btn .item{ position:absolute; top:0;}
.recommend_btn .current{ color:#ff7700;}
/*adimg*/
.adimg{ overflow:hidden;}
.adimg img{ width:100%; max-height:270px; }
/*celebrity*/
.celebrity{ overflow:hidden; padding:10px 10px 15px; border-bottom:1px solid #f2f1f0;}
.celebrity img{ display:inline-block;}
.celebrity_item{ overflow:hidden;}
.celebrity_item .photo{ float:left; margin-right:10px;}
.celebrity_item h4{ font-size:15px}
.celebrity_item p,.celebrity_item p a{ font-size:13px; color:#999;}
.celebrity_item p img{ margin-right:3px;}	
.celebrity_item .txt{display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-decoration: none; max-height:37px;margin:4px 0;}
.celebrity_btn{ overflow:hidden; padding-top:3px;}
.celebrity_btn span{ display:inline-block; line-height:10px; font-size:10px; color:#666; padding:7px 14px; border-radius:50px; float:right;}
.celebrity_btn span a { color:#4f6ab5; margin-right:7px;}
.celebrity_btn .sub {color: #666; cursor:pointer; }
/*change_paging*/
.change_paging{  padding:15px 0; text-align:center; border-top:1px solid #eeeeee;}
.change_paging .prev,.change_paging .num,.change_paging .next{ height:35px;line-height:35px;border:1px solid #d1cecd;background:#fff;font-size:15px;color:#545454;display:inline-block; padding:0 6px; border-radius:3px;}
.change_paging .num{ margin:0 5px; color:#535353; font-size:16px;}
.change_paging .img_left { margin-right:5px; padding:0; display:inline-block; vertical-align:middle; margin-top:-4px;}
.change_paging .img_right{ margin-left:5px; padding:0; display:inline-block; vertical-align:middle; margin-top:-4px;}